@import "nav";
@import "menu_utility";
@import "country_selector";

.top-banner {
	position: relative;
	* {
		box-sizing: border-box;
	}
}

.primary-logo {
	height: 38px; // height of image
	padding: .1em 0 0 0;
	margin: 0 auto;
	width: 200px; // width of image
	z-index: 1;
	@media screen and (min-width: 768px) {
		margin: 0;
		padding: 0.3em 0 0 .5em;
	}
}
 /*
.header-search {
	color: $white;
	width: 100%;
	background-color: $dim-gray;
	@media screen and (min-width: 768px) {
		background-color: $white;
		border: 1px solid $nobel;
		border-radius: 10px;
		color: $nobel;
		height: 2.5em;
		margin: 1.6em auto 0;
		position: relative;
		width: 300px;
		z-index: 1;
	}
	form {
		margin-bottom: 1px;
	}
	input[type="text"] {
		background-color: transparent;
		border: none;
		float: left;
		margin: 0;
		padding-left: 1rem;
		height: 2.3rem;
		width: 85%; // default for older browser
		width: calc(100% - 2.5rem);
		@media screen and (min-width: 768px) {
			height: 1.75rem;
			padding: 0 1rem;
		}
	}
	button {
		background-color: transparent;
		border: none;
		color: $nobel;
		padding: .7em .5em;
		@media screen and (min-width: 768px) {
			padding: .4em .5em;
		}
		&:hover {
			color: $citrus;
		}
		i {
			font-size: 1.4em;
		}
	}
}
*/

/*=====================
	MY STYLES - start
=======================*/

.main-wrapper {
	max-width: 1120px;
	margin: 0 auto;
}
.header1 {
	width: 100%;
	background-color: #fff;
}
.header1-top {
	background-color: #282828;
}
.header1-top-inner {
	display: flex;
	justify-content: space-between;
	height: 43px;
}
.free-shipping {
	line-height: 43px;
	span:first-child {
		margin-right: 5px;
		font-size: 13px;
		color: #fc9d16;
		text-decoration: none;
	}
	span:last-child {
		font-size: 13px;
		color: #b1b1b1;
		text-transform: uppercase;
	}
}
.user-info {
	margin: 0;
	padding: 0;
	li {
		height: 100%;
		display: flex;
		align-items: center;
	}
}
.user-links {
	a {
		margin-right: 44px;
		padding: 5px 0 5px 20px;
		background-position: 0 50%;
		background-repeat: no-repeat;
		font-size: 11px;
		color: #a4a4a4;
		text-decoration: none;
		text-transform: uppercase;
		&:last-of-type {
			margin-right: 0;
		}
		&.user-account {
			background-image: url(../images/login-icon1.png);
		}
		&.user-order {
			background-image: url(../images/gift-icon1.png);	
		}
		&.user-wishlist {
			background-image: url(../images/wishlist-icon1.png);	
		}
		&.user-gift {
			background-image: url(../images/gift-icon1.png);	
		}
		&.store-locator {
			background-image: url(../images/store-icon1.png);	
		}
	}
}
.logo {
	display: flex;
	align-items: center;
	img {
		margin-right: 10px;
	}
	span {
		font-family: Gotham;
		font-size: 24px;
		font-weight: 700;
		color: #282828;
		text-transform: uppercase;
	}
}
.header1-main {
	padding: 38px 0 48px;
	background-color: #fff;
}
.header1-main-inner {
	display: flex;
	justify-content: space-between;
}
.search-basket {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 560px;
}
.header-search form {
	display: flex;
	width: 474px;
	height: 43px;
	background: url(../images/zoom-icon1.png) calc(100% - 16px) 50% no-repeat;
	border: 1px solid #d6e1e5;
	border-radius: 40px;
}
input.search {
	width: 90%;
	height: 100%;
	padding: 0 0 0 20px;
	background-color: transparent;
	border: 0;
	outline: 0;
	font-size: 14px;
	color: #b2c6cd;
}
input.search::placeholder {
	font-size: 14px;
	color: #b2c6cd;
}
input.submit {
	height: 100%;
	width: 10%;
	padding: 0;
	border: 0;
	outline: 0;
	opacity: 0;
}
.main-carousel {
	.main-carousel-slide {
		position: relative;
		> img {
			width: 100%;
			height: 727px;
			object-fit: cover;
		}
	}
	.main-carousel-title {
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 9;
		transform: translate(-50%, -50%);
	}
}

/*=====================
	MY STYLES - end
=======================*/
