footer {
	background-color: $nero;
	letter-spacing: 1px;
}
.footer-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 48px 0 90px;
	.footer-item {
		ul {
			//margin: 0 80px 0 0;
			margin: 0;
			padding: 0;
			li {
				margin-bottom: 18px;
				list-style: none;
				&:last-child {
					margin-bottom: 0;
				}
			}
			a {
				font-size: 14px;
				font-weight: 500;
				color: #a4a4a4;
				text-decoration: none;
				text-transform: capitalize;
				&:hover {
					color: #fff;
				}
			}
		}
	}
	h3 {
		margin: 0 0 26px;
		font-size: 14px;
		color: #f3f3f3;
		text-transform: uppercase;
	}
}

.social-links {
	padding-left: 0;
	li {
	display: inline;
	float: none;
	padding-right: 0.5em;
	}
}

#email-alert-signup {
	white-space: nowrap;
	input[type="text"] {
		border: none;
		margin-left: 0;
		width: 15em;
	}
	button {
		background-color: $dark-gray;
		border: none;
		color: $white;
		height: 31px;
		padding: 0;
		width: 31px;
	}
}

.footer-socials {
	background-color: #282828;
	padding: 50px 0 92px;
	font-family: $source;
	.main-wrapper {
		display: flex;
		justify-content: space-between;
	}
	h6 {
		margin: 0 0 28px;
		font-size: 14px;
		font-weight: 500;
		color: #f3f3f3;
		text-transform: uppercase;
	}
	.subscribe {
		display: flex;
		align-items: center;
		width: 360px;
		height: 42px;
		background-color: #343434;
		border: 1px solid #565656;
		border-radius: 40px;
		input[type=text] {
			width: 322px;
			height: 100%;
			padding: 0 28px;
			background-color: transparent;
			border: 0;
			outline: 0;
			font-size: 14px;
			color: #fff;
			&::placeholder {
				color: #fff;
				opacity: .5;
			}
		}
		input[type=submit] {
			width: 38px;
			height: 38px;
			margin-right: 2px;
			padding: 0;
			background: url(../images/email1.png) 50% 50% no-repeat #fc9d16;
			border: 0;
			border-radius: 50%;
			outline: 0;
			color: transparent;
		}
	}
}
.follow {
	margin-bottom: 30px;
	a {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		margin-right: 18px;
		border: 2px solid #a4a4a4;
		border-radius: 50%;
		font-size: 20px;
		color: #a4a4a4;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			border-color: #f3f3f3;
			color: #f3f3f3;
		}
	}
	+ h6 {
		margin-bottom: 20px;
	}
}

.copyright {
	height: 54px;
	background-color: #373737;
    line-height: 54px;
	text-align: center;
	p {
		display: inline-block;
		margin: 0;
		font-size: 11px;
		font-weight: 500;
		color: #7b7b7b;
	}
}