#homepage-slider {
	position: relative;
	overflow: hidden;
	width: 100%;
	.jcarousel-control {
		bottom: 0.5rem;
		right: 0.5rem;
		position: absolute;
		a {
			background: none repeat scroll 0 0 $gainsboro;
			border: 1px solid $very-light-gray;
			display: block;
			float: left;
			height: 24px;
			margin: 0 3px;
			opacity: .5;
			text-indent: -999em;
			width: 24px;
			&.active {
				background-color: $dim-gray;
			}
			&:hover {
				background-color: $dim-gray;
				opacity: .7;
			}
		}
	}
}

.home-bottom-slots {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	// margin: auto;
	// max-width: 960px;
	padding-top: 20px;
	color: #282828;
	text-align: center;
	.home-bottom-left,
	.home-bottom-center,
	.home-bottom-right {
		width: 100%;
		background-color: #f7f7f7;
		@media screen and (min-width: 960px) {
			width: 32.14%;
		}
	}
	.home-bottom-left {
		padding: 24px 0;
		background-color: #ebeeee;
	}
}

.slider-instagram {
	margin: 94px 0;
	img {
		width: 250px;
		height: 250px;
		object-fit: cover;
	}
	.slider-instagram-caption {
		display: flex;
		justify-content: space-between;
		align-items: center;
		h3 {
			margin: 0;
			font-family: Gotham;
			font-size: 40px;
			text-transform: uppercase;
			span {
				color: #fc9d16;
			}
		}
		p {
			margin: 0;
			font-size: 17px;
			a {
				font-weight: 700;
				color: #5da5ad;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}









