#mini-cart {
	position: relative;
	@media screen and (min-width: 768px) {

	}
	.mini-cart-name {
		a {
			color: $citrus;
		}
	}
}

.mini-cart-total {
	position: relative;
	.mini-cart-link {
		position: relative;
		display: block;
		width: 27px;
		height: 25px;
		background: url(../images/basket-icon1.png) 50% 50% no-repeat;
		overflow: visible;
		color: $citrus;
		text-transform: uppercase;
		i {
			font-size: 3em;
		}
		.minicart-quantity {
			position: absolute;
			top: -10px;
			right: -10px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 22px;
			height: 22px;
			background-color: #fc9d16;
			border-radius: 50%;
			font-weight: 700;
			color: #282828;
		}
	}
}

.mini-cart-total {
	.mini-cart-empty {
		color: $nobel;
		transition: color 500ms ease;
		&:hover {
			color:$citrus;
			text-decoration: none;
		}
		.minicart-quantity {
			background-color: $white;
			border: 1px solid $nobel;
			color: $nobel;
		}
	}
}

.mini-cart-content {
	background-color: $white;
	border: 1px solid $very-light-gray;
	box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.3);
	display: none;
	position: absolute;
	right: 0;
	top: 2.5em;
	z-index: 999;
	width: 18rem;
	#mini-cart:hover & {
		display: block;
	}
}

.mini-cart-header {
	font-size: 1.1em;
	font-weight: 700;
	padding: 1em 1em 0.5em;
	text-transform: uppercase;
}

.mini-cart-products {
	max-height: 360px;
	padding: 0.5em;
	overflow: auto;
}

.mini-cart-product {
	border-bottom: 1px solid $dark-gray;
	overflow: hidden;
	padding: 0.5em;
	position: relative;
	&:last-of-type {
		border: none;
	}
	&.collapsed {
		.mini-cart-name,
		.mini-cart-attributes,
		.mini-cart-pricing,
		.product-availability-list {
			width: 90%;
		}
		.mini-cart-image {
			display: none;
		}
	}
	.mini-cart-toggle {
		cursor: pointer;
		font-size: 1.5em;
		position: absolute;
		left: 0;
		top: 0;
	}
}

.mini-cart-image {
	float: left;
	width: 50%;
	img {
		max-width: 90%;
	}
}

.mini-cart-name {
	float: right;
	font-style: italic;
	width: 50%;
}

.mini-cart-attributes, .mini-cart-product .product-availability-list {
	float: right;
	font-size: 0.9em;
	font-weight: bold;
	width: 50%;
}

.mini-cart-pricing {
	clear: right;
	float: right;
	font-size: 0.9em;
	width: 50%;
}

.mini-cart-totals {
	text-align: center;
	button,
	.button {
		// the following 3 properties height, line-height and overflow
		// are needed to align the 2 buttons
		height: 30px;
		line-height: 1;
		overflow: inherit;
	}
}

.mini-cart-subtotals {
	font-weight: 700;
	margin: 0 auto;
	padding-top: .5em;
	width: 16rem; //for IE
	width: max-content;
	.label {
		margin: 0 .5rem;
	}
	.value {
		margin-right: .5rem;
	}
}

.mini-cart-slot {
	background: none repeat scroll 0 0 $gainsboro;
	border: 1px solid $gainsboro;
	font-size: 0.9em;
	font-style: italic;
	margin: 1em 1em;
}

.mini-cart-link-checkout {
	clear: both;
	display: block;
	margin: 1em 0;
	text-align: center;
}

/*=====================
	MY STYLES - start
=======================*/

.basket:hover .mini-cart {
	display: block;
}
.mini-cart {
	display: none;
	width: 352px;
	position: absolute;
	right: 0;
	top: calc(100% + 20px);
	padding: 0 20px 0 16px;
	background-color: #fff;
	border: 4px solid #f0f5f5;
}
.mini-cart::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: -30px;
	height: 30px;
}
.mini-cart ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.mini-cart ul li {
	display: flex;
	align-items: flex-start;
	padding: 16px 0 22px;
	border-bottom: 1px solid #f0f5f5;
}
.mini-cart ul li > span {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	width: 19px;
	height: 19px;
	margin-right: 14px;
	background-color: #282828;
	border-radius: 50%;
}
.mini-cart ul li > span .fa {
	font-size: 10px;
	color: #fff;
}
.mini-cart ul li > div {
	width: 100%;
}
.product-name {
	display: block;
	margin-bottom: 16px;
	color: #5da5ad;
	text-decoration: none;
}
.product-name:hover {
	text-decoration: underline;
}
.product-name h6 {
	margin: 0;
	text-transform: uppercase;
} 
.mini-cart ul li p {
	margin: 0 0 10px;
	font-size: 14px;
	color: #282828;
}
.mini-cart ul li p:last-of-type {
	margin-bottom: 0;
}
.mini-cart ul li p {
	display: flex;
	justify-content: space-between;
}
.mini-cart ul li p span:last-child {
	font-weight: 700;
}

/*=====================
	MY STYLES - end
=======================*/